## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [56]:
a = 12
print(a)

12


2) Imprimir el tipo de dato de la constante 8.5

In [57]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [58]:
type(a)

int


4) Crear una variable que contenga tu nombre

In [59]:
mi_nombre = "Santiago"


5) Crear una variable que contenga un número complejo

In [60]:
b = 2 + 49j


6) Mostrar el tipo de dato de la variable crada en el punto 5

In [61]:
type(b)

complex


7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [62]:
pi = 3.1416


8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [63]:
true = True
false = False


9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [64]:
type(true)
type(false)

bool


10) Asignar a una variable, la suma de un número entero y otro decimal

In [65]:
c = 4 + 3.2


11) Realizar una operación de suma de números complejos

In [66]:
b + 4j

(2+53j)


12) Realizar una operación de suma de un número real y otro complejo

In [67]:
5 + (6 +1j)

(11+1j)


13) Realizar una operación de multiplicación

In [68]:
4*9

36


14) Mostrar el resultado de elevar 2 a la octava potencia

In [69]:
2**8

256


15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [70]:
d = 27/4
print(d)

6.75


16) De la división anterior solamente mostrar la parte entera

In [71]:
27//4

6


17) De la división de 27 entre 4 mostrar solamente el resto

In [72]:
27%4

3


18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [73]:
6*4+3

27


19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [74]:
"l1" + "gfgs8s7fshf"

'l1gfgs8s7fshf'


20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [75]:
"2"==2

False


21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [76]:
int("2") == 2

True


22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [78]:
#por usar la coma en vez del punto en el número


23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [80]:
e = 3
e -= 2
print(e)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [81]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [83]:
# porque son variables de distinto tipo. Si fueran del mismo tipo '2'+'2' = '22' y 2 + 2 = 4

26) Realizar una operación válida entre valores de tipo entero y string

In [84]:
8*'yyyy'

'yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy'